{% extends 'home.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="container" 
     style="
            margin-top: 50px; 
            width: 500px;
     "
     >
    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}
</div>
{% endblock %}